[general]
leader_secret = "{{ leader_secret }}"
leader_uri = "https://192.168.1.107:22900/"
accept_insecure_certs = true

[performance]
ethernet_brokers = 1
wifi_brokers = 1
wifi_broker_buffer_capacity = 65535
ethernet_broker_buffer_capacity = 65535

[misc]
training_period_minutes = 5