[general]
leader_secret = "{{ leader_secret }}"
leader_uri = "{{ leader_uri }}"
accept_insecure_certs = true

[performance]
ethernet_brokers = 1
wifi_brokers = 1
wifi_broker_buffer_capacity = 65535
ethernet_broker_buffer_capacity = 65535

[misc]
training_period_minutes = 5